
.grid-container {
    display: grid;
    border: 1px solid white;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    justify-content: center;
}

mat-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

mat-card {
    transition: transform .2s;
}
.sort-dropdown {
    margin-left: 20px;
}